{% extends 'propertyInfo/base.html' %}
{#{% load staticfiles %}#}
{% load static %}
{% block content %}
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">

    <form method="POST" class="post-form" enctype="multipart/form-data"> {% csrf_token %}
        <link rel="stylesheet" href="{% static 'css/property_new.css' %}">

        {{ form.as_p }}


        {##}
        {#    <div id="form_set">#}

        {#        {{ formset.as_table }}#}
        {##}
        {#        <table class="table table-striped table-dark">#}
        {#            <thead>#}
        {#            <tr>#}
        {#                <th scope="col">Фото</th>#}
        {#                <th scope="col">Планировки</th>#}
        {#            </tr>#}
        {#            </thead>#}
        {#            <tbody>#}
        {#            <tr>#}
        {#                <td>#}
        {#                    {{ formset.management_form }}#}
        {#                    {% for current_form in formset %}#}
        {#                        <div class="row form-row spacer">#}
        {#                            <div class="col-2">#}
        {#                                <label>{{ current_form.buildingImage.label }}</label>#}
        {#                            </div>#}
        {#                            <div class="col-4">#}
        {#                                <div class="input-group">#}
        {#                                    {{ current_form.buildingImage }}#}
        {#                                    <div class="input-group-append">#}
        {#                                        <button class="btn btn-success add-form-row">+</button>#}
        {#                                    </div>#}
        {#                                </div>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                    {% endfor %}#}
        {#                </td>#}
        {#                <td>#}
        {#                    {{ layoutFormset.management_form }}#}
        {#                    {% for current_form in layoutFormset %}#}
        {#                        <div class="row form-row spacer">#}
        {#                            <div class="col-2">#}
        {#                                <label>{{ current_form.layoutImage.label }}</label>#}
        {#                            </div>#}
        {#                            <div class="col-4">#}
        {#                                <div class="input-group">#}
        {#                                    {{ current_form.layoutImage }}#}
        {#                                    <div class="input-group-append">#}
        {#                                        <button class="btn btn-success add-form-row">+</button>#}
        {#                                    </div>#}
        {#                                </div>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                    {% endfor %}#}
        {#                </td>#}
        {#            </tr>#}
        {##}
        {#            </tbody>#}
        {#        </table>#}

        {#        {{ formset.management_form }}#}
        {#        <h4>Фото</h4>#}
        {#        {% for current_form in formset %}#}
        {#            <div class="row form-row spacer">#}
        {#                <div class="col-2">#}
        {#                    <label>{{ current_form.buildingImage.label }}</label>#}
        {#                </div>#}
        {#                <div class="col-4">#}
        {#                    <div class="input-group">#}
        {#                        {{ current_form.buildingImage }}#}
        {#                        <div class="input-group-append">#}
        {#                            <button class="btn btn-success add-form-row">+</button>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#        {% endfor %}#}
        {##}
        {#        {{ layoutFormset.management_form }}#}
        {#        <h4>Планировки</h4>#}
        {#        {% for current_form in layoutFormset %}#}
        {#            <div class="row form-row2 spacer">#}
        {#                <div class="col-2">#}
        {#                    <label>{{ current_form.layoutImage.label }}</label>#}
        {#                </div>#}
        {#                <div class="col-4">#}
        {#                    <div class="input-group">#}
        {#                        {{ current_form.layoutImage }}#}
        {#                        <div class="input-group-append">#}
        {#                            <button class="btn btn-success add-form-row2">+</button>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#        {% endfor %}#}

        {#        {% csrf_token %}#}
        {#        {{ formset.media }}#}
        {##}
        {#        {% for cur_form in formset %}#}
        {#            <div class="individual-form">#}
        {#                {{ cur_form.as_p }}#}
        {#            </div>#}
        {#        {% endfor %}#}
        {#        {{ formset.management_form }}#}
        {##}
        {#        {% for form in layoutFormset %}#}
        {#            <div class="individual-form2">#}
        {#                {{ form.as_p }}#}
        {#            </div>#}
        {#        {% endfor %}#}
        {#        {{ layoutFormset.management_form }}#}

        <div class="container">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col">
                    {{ formset.media }}
                    {% for cur_form in formset.forms %}
                        {#                        {{ cur_form.id }}#}
                        <div class="individual-form">
                            {{ cur_form.as_p }}
                        </div>
                    {% endfor %}

                    {{ formset.management_form }}

                </div>
                <div class="col">
                    {% for form in layoutFormset %}
                        <div class="individual-form2">
                            {{ form.as_p }}
                        </div>
                    {% endfor %}
                    {{ layoutFormset.management_form }}</div>
            </div>
        </div>

        {% for form in wayFormset %}
            {{ form.as_p }}
            <br>
        {% endfor %}
        {{ wayFormset.management_form }}

        <input type="submit" name="Далее" value="Сохранить">
    </form>



    {#    <h3>FormSet example</h3>#}
    {#    {{ formset.management_form }}#}
    {#    <div id="form_set">#}
    {#        {% for form in formset.forms %}#}
    {#            {{ form.non_field_errors }}#}
    {#            {{ form.errors }}#}
    {#            <table class='no_error'>#}
    {#                {{ form }}#}
    {#            </table>#}
    {#        {% endfor %}#}
    {#    </div>#}
    {#    <input type="button" value="Add More" id="add_more">#}
    {#    <div id="empty_form" style="display:none">#}
    {#        <table class='no_error'>#}
    {#            {{ formset.empty_form }}#}
    {#        </table>#}
    {#    </div>#}


{% endblock %}


{% block custom_js %}
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>

    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/i18n/defaults-*.min.js"></script>

    <script src="{% static "dynamic_formsets/jquery.formset.js" %}" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/jquery.js/jq"></script>
    <script src="{{ STATIC_URL }}js/jquery.formset.js"></script>

    <script type="text/javascript">
        $('.individual-form').formset(
            {
                prefix: '{{ formset.prefix }}',

                formCssClass: 'dynamic-formset1',
                uiText: {
                    addPrompt: 'Добавить еще одну',         // Text used on the 'add a new form' control.
                    removePrompt: 'Удалить',        // Text used on the 'delete this existing form' control.
                },
            }
        );
        $('.individual-form2').formset({
            prefix: '{{ layoutFormset.prefix }}',
            formCssClass: 'dynamic-formset2',
            uiText: {
                addPrompt: 'Добавить еще одну',         // Text used on the 'add a new form' control.
                removePrompt: 'Удалить',        // Text used on the 'delete this existing form' control.
            },
        });
    </script>


    <script>

        function cleanMicroDistrictList(microDistrictSelect, isDistrictsExist) {

            microDistrictSelect.empty();
            if (isDistrictsExist == true) {
                microDistrictSelect.append('<option value="{{ micro_district_default_choice.0.0 }}" selected>{{ micro_district_default_choice.0.1 }}</option>');
            } else {
                {#microDistrictSelect.prop('disabled', true);#}
                microDistrictSelect.append('<option value="{{ micro_district_does_not_exist_choice.0.0 }}" selected>{{ micro_district_does_not_exist_choice.0.1 }}</option>');
            }

        }

        function MicroDistrictHandler() {
            var districtSelect = document.getElementById("district");
            var selectedValue = districtSelect.value;

            var microDistrictSelect = $('#micro_district');
            {#alert(selectedValue);#}
            if (selectedValue == '{{ saltovka_dbvalue }}') {
                cleanMicroDistrictList(microDistrictSelect, true);
                {% for choice in micro_district_saltovka_choices %}
                    microDistrictSelect.append('<option value="{{ choice.0 }}">{{ choice.1 }}</option>');
                {% endfor %}
                {#microDistrictSelect.prop('disabled', false);#}
            } else if (selectedValue == '{{ severnaya_saltovka_dbvalue }}') {
                cleanMicroDistrictList(microDistrictSelect, true);
                {% for choice in micro_district_severnaya_saltovka_choices %}
                    microDistrictSelect.append('<option value="{{ choice.0 }}">{{ choice.1 }}</option>');
                {% endfor %}
                {#microDistrictSelect.prop('disabled', false);#}
            } else {
                cleanMicroDistrictList(microDistrictSelect, false);
            }
        }

        $("#district").change(function () {
            MicroDistrictHandler();
        });
        $(document).ready(function () {
            MicroDistrictHandler();
        });

    </script>

{% endblock %}