{% extends 'propertyInfo/base.html' %}
{#{% load staticfiles %}#}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/property_new.css' %}">
    <form method="POST" class="post-form" enctype="multipart/form-data"> {% csrf_token %}


        {% for field in form %}
            <div class="form-group">
                <label for="">{{ field.label }}</label>
                <div>{{ field }}</div>
                {% if field.errors %}
                    <p>{{ field.errors }}</p>
                {% endif %}
            </div>
        {% endfor %}
        <div class="container">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col">
                    {{ formset.media }}
                    <div id="form_set">
                        {% for form in formset.forms %}
                            {{ form.non_field_errors }}
                            {{ form.errors }}
                            <table class='no_error'>
                                {{ form.instance.id }}
                                {{ form.as_p }}
                            </table>
                        {% endfor %}
                        {{ formset.management_form }}
                    </div>
                </div>
                <div class="col">
                    {{ layoutFormset.media }}
                    <div id="form_set">
                        {% for form in layoutFormset.forms %}
                            {{ form.non_field_errors }}
                            {{ form.errors }}
                            <table class='no_error'>
                                {{ form.instance.id }}
                                {{ form.as_p }}

                            </table>
                        {% endfor %}
                        {{ layoutFormset.management_form }}
                    </div>
                </div>
            </div>
        </div>

        {% for form in wayFormset %}
            {{ form.as_p }}
            <br>
        {% endfor %}
        {{ wayFormset.management_form }}

        <input type="submit" name="save" value="Сохранить">

    </form>

{% endblock %}


{% block custom_js %}
    <script src="{% static "dynamic_formsets/jquery.formset.js" %}" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.formset.js"></script>
    <script src='{% static "js/propertyInfo/address.js" %}'></script>
    <script type="text/javascript">
        $('.individual-form').formset(
            {
                prefix: '{{ formset.prefix }}',
                formCssClass: 'dynamic-formset',
                uiText: {

                    addPrompt: 'Добавить еще одну',         // Text used on the 'add a new form' control.
                    removePrompt: 'Удалить',        // Text used on the 'delete this existing form' control.
                },
            }
        );
        $('.individual-form2').formset({
            prefix: '{{ layoutFormset.prefix }}',
            formCssClass: 'dynamic-formset',
            uiText: {
                addPrompt: 'Добавить еще одну',         // Text used on the 'add a new form' control.
                removePrompt: 'Удалить',        // Text used on the 'delete this existing form' control.
            },
        });
    </script>

    <script>

        function cleanMicroDistrictList(microDistrictSelect, isDistrictsExist) {

            microDistrictSelect.empty();
            if (isDistrictsExist == true) {
                microDistrictSelect.append('<option value="{{ micro_district_default_choice.0.0 }}" selected>{{ micro_district_default_choice.0.1 }}</option>');
            } else {
                microDistrictSelect.append('<option value="{{ micro_district_does_not_exist_choice.0.0 }}" selected>{{ micro_district_does_not_exist_choice.0.1 }}</option>');
            }

        }

        function MicroDistrictHandler() {
            var districtSelect = document.getElementById("district");
            var selectedValue = districtSelect.value;

            var microDistrictSelect = $('#micro_district');
            if (selectedValue == '{{ saltovka_dbvalue }}') {
                cleanMicroDistrictList(microDistrictSelect, true);
                {% for choice in micro_district_saltovka_choices %}
                    microDistrictSelect.append('<option value="{{ choice.0 }}">{{ choice.1 }}</option>');
                {% endfor %}
            } else if (selectedValue == '{{ severnaya_saltovka_dbvalue }}') {
                cleanMicroDistrictList(microDistrictSelect, true);
                {% for choice in micro_district_severnaya_saltovka_choices %}
                    microDistrictSelect.append('<option value="{{ choice.0 }}">{{ choice.1 }}</option>');
                {% endfor %}
            } else {
                cleanMicroDistrictList(microDistrictSelect, false);
            }
        }

        $("#district").change(function () {
            MicroDistrictHandler();
        });
        $(document).ready(function () {
            MicroDistrictHandler();
        });

    </script>

{% endblock %}
